<div class="main-area">
  <div class ="explain">
    <h2>What is the Glycaemic Index?</h2>
    <p>
      Glycaemic Index (GI) is a measure of the effect an individual food or drink has on blood sugar levels after it is consumed.  </p>
      <ul>
         <li>Foods that are digested slowly and release glucose into the bloodstream gradually have a low GI value</li>
         <li>Foods that are digested quickly and release glucose into the bloodstream rapidly have a high GI value</li>
     </ul>
     <h3>The GI Index is a Scale from 1-100</h3>
    <p>Glucose has the highest score of all foods at a <strong>GI of 100.</strong> All other foods are measured against this reference point.</p>
    <ul>
      <li>Low GI Foods have a glycaemic index of <strong>55</strong> or lower</li>
      <li>Medium GI Foods have a glycaemic index of <strong>56-69</strong></li>
      <li>High GI Foods have a glycaemic index of <strong>70</strong> or more</li>
    </ul>

    <p>Foods only appear on the GI index if they contain carbohydrates. This explains why you won't find foods like meat, chicken, fish, eggs and cheese in GI lists.<br>
     However, you may find some processed foods like sausages or chicken nuggets in a GI list because they contain carbs.</p>

    <h2>Why is GI Important?</h2>
    <p>Low GI foods are better for us because they don't cause a rapid rise and fall in blood sugar levels, known as a sugar spike.<br>
    Sugar spikes can cause us to over eat because the fast fall in blood sugar can leave us feeling hungry.<br>
   Eating low GI foods help to keep us 'fuller for longer'. Especially important for those who want to lose weight.</p>
    <h2>Combinations of Foods</h2>
    <p>We mostly eat foods in combination, adding proteins like meat, fish and eggs, and fats, to our meals.<br>
      This mitigates the effect of higher GI foods somewhat, and slows down the release of sugars into the blood.</p>

  </div>
  <div class="return">
    <a routerLink="/glyceamicTables" routerLinkActive="active">Go to the Glycaemic food tables</a>
  </div>

</div>
