
<div class="main-area">
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Reading</th>
      <th>Date</th>
      <th>Time of Day</th>
      <th>Medication</th>
      <th>Notes</th>
      <th>Delete</th>
    </tr>
    <tr *ngIf="reading">
    <td>{{reading.id}}</td>

      <td [ngStyle] = "{backgroundColor: getColor(reading.reading)}"
          [ngClass] = "{hype: reading.reading > 7.0 || reading.reading < 4.0 }">
        {{reading.reading}}</td>
      <td>{{reading.date | date:'fullDate'}}</td>
      <td>{{reading.timeOfDay}}</td>
      <td>{{reading.medication}}</td>
      <td>{{reading.notes}}</td>
      <td> <button color="warn" mat-raised-button (click)="removeReadingDialog(reading.id)">Delete</button></td>
    </tr>
    </thead>
  </table>
  <div class="info">
    <p *ngIf="reading.reading >  8.5"
       [ngClass] = "{serious : reading.reading > 8.5 }">
      <u>{{reading.reading}}</u> :
      This is a Hyperglycaemic reading above 8.5 mmol/L, this is <u>Dangerous</u>. You need to get this down as quickly as possible or talk to the doctor.
    </p>
    <p *ngIf="reading.reading > 7.0 && reading.reading < 8.5"
       [ngClass] = "{hyper: reading.reading > 7.0 }">
      <u>{{reading.reading}}</u> :
      This is a Hyperglycaemic reading above 7.0 mmol/L, this may be <u>Dangerous</u>. Check it is within the acceptable levels below if you have eaten within 2 hours
      otherwise you need to get these levels down as quickly as possible.
    </p>
    <p *ngIf="reading.reading < 4.0"
       [ngClass] = "{hypo: reading.reading < 4.0}">
      <u>{{reading.reading}}</u> :
      This is a Hypoglycaemic reading below 4.0 mmol/L, this is <u>Dangerous</u>. Bring your levels up to the levels stated below as soon as possible:
    </p>
    <p *ngIf="reading.reading > 4.0 && reading.reading < 7.0"
       [ngClass] = "{normal: reading.reading > 4.0 && reading.reading < 7.0}">
      <u>{{reading.reading}}</u> :
      This is a normal healthy reading for someone with Type 2 Diabetes. Above 4.0 mmol/L and below 7.0 mmol/L.
    </p>
    <h1>
      Normal and Diabetic blood sugar ranges information
    </h1>
    <p>For the majority of healthy individuals, normal blood sugar levels are as follows:</p>
    <ul>
      <li>Between 4.0 to 5.4 mmol/L (72 to 99 mg/dL) when fasting</li>
      <li>Up to 7.8 mmol/L (140 mg/dL) 2 hours after eating</li>
    </ul>
    <p>For people with diabetes, blood sugar level targets are as follows:</p>
    <ul>
      <li>Before meals : 4 to 7 mmol/L for people with type 1 or type 2 diabetes</li>
      <li>After meals : under 9 mmol/L for people with type 1 diabetes and under 8.5mmol/L for people with type 2 diabetes</li>
    </ul>
    <p> <strong>See Information and Definitions links for more information.</strong></p>
  </div>
  <div class="return">
    <a routerLink="/sugarReadings" routerLinkActive="active">Back to Sugar List Readings</a>
  </div>

</div>
