
.form-container {
  box-sizing: border-box;
  border: solid black;
  height: 80%;
  width:40%;
  margin: 100px auto;
  align-content: space-evenly;
  background-color: lightsteelblue;
  -moz-box-shadow: 10px 10px 10px 10px #777777;
  -webkit-box-shadow: 10px 10px 10px 10px #777777;
  box-shadow: 10px 10px 10px 10px #777777;
  border-radius: 30px;
  padding: 20px;

  .form-item {
    width: 60%;
    display: flex;
    color: black;
    flex-direction: column;
    padding: 10px;

    label {
      font-weight: bold;
      font-size: x-large;
    }

  }
  button {
    margin: 50px 10px 10px 10px;
    height: 45px;
    width: 120px;
    border-radius: 30px;

  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block{
  color: red;
}
p {
  padding-left:20px;
  font-size: xx-large;
  font-weight: bold;
  color: blue;
  text-shadow: 2px 2px  7px #111111;
}


.return{
  margin: 50px;
  font-size: x-large;
  font-weight: bold;
}
