.page {
 width:100%;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../../assets/images/sugar.jpg");
  /* linear gradient makes image darker but use transparency */
  background-size: cover; /* gets the whole image */
  background-position: center;
  height: 88vh; /* 100% of the view port  for the image */
  background-attachment: fixed; /* image stays in the same place */

  .highlight {
    color: red;
    font-size: xx-large;
  }

  .text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    padding: 10px;
    color: darkblue;
    transform: translate(-50%, -50%);  /*  applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements. */
    border-style: hidden;
    color: darkblue;
    box-shadow: 5px 5px 5px 5px #777777;
  }

  .text-box p {
    font-size: x-large;
  }

  .text-box li {
    font-size: x-large;
    font-weight: bold;
  }

  .text-box li:hover {
    text-decoration: none;  /*  specifies the decoration added to text */
    color: red;

  }

  //background-color: lightgrey;
  //
  //.picture {
  //  background-color: white;
  //  position: absolute;
  //  padding-left: 10px;
  //  top: 155px;
  //  left: 0;
  //  border-style: solid;
  //  width: 900px;
  //  height: 550px;
  //  margin-left: 20px;
  //  color: grey;
  //  box-shadow: 5px 5px 5px 5px #777777;
  //  img {
  //    width: 850px;
  //    height: 450px;
  //  }
  //}
  //.information {
  //  background-color: white;
  //  padding-left: 10px;
  //  position: absolute;
  //  top: 155px;
  //  right: 0;
  //  border-style: solid ;
  //  width: 900px;
  //  height: 550px;
  //  margin-right: 20px;
  //  color: grey;
  //  box-shadow: 5px 5px 5px 5px #777777;
  //
  //  ul li {
  //    font-size: large;
  //    font-weight: bold;
  //    color: darkblue;
  //  }
  //
  //}
  //
  //p {
  //  font-size: large;
  //  color: darkblue;
  //}

}


