.main-page {
  height: 100%;
  width: 100%;
  padding: 30px;
  margin:0;
  background-color: aliceblue;
  .inner {
    padding: 30px;
    margin:0;
    border-style: hidden;
    color: darkblue;
    box-shadow: 5px 5px 5px 5px #777777;

    img {
       margin:20px;
       height: 300px;
       width: 350px;
      border: solid 1px aliceblue;
       box-shadow: 5px 5px 5px 5px #777777;
    }

    p {
      font-size: x-large;
    }
     a{
      font-size: x-large;
      font-weight: bold;
    }
   a:hover {
      color: #e67e22;
     }
  }


}
