<div class="main-page" xmlns="http://www.w3.org/1999/html">
  <div class="inner">
    <h1> Diet and Exercise</h1>
    <p><img src="../../../assets/images/healthfitness.jpg" alt="Health Picture">A good diet and regular exercise are a good way to keep <strong>Type 2 Diabetes</strong> under control.<img src="../../../assets/images/exercise-diabetes.jpg" alt="Fitness Picture"></p>
    <p>Keep in mind that diet and exercise should go hand in hand. For instance, even if you regularly exercise, a diet with lots of sugar and fat and very little fiber or phytonutrients (beneficial plant compounds) could more than counteract those efforts. On the other hand, you can eat a healthful diet, but if you never get up and move, your cardiovascular health will almost certainly suffer.</p>
    <p>Cardiovascular health and diabetes are also intricately linked. Committing to a better diet and daily exercise promotes better blood sugar levels, blood lipid control, and mood. It also leads to higher energy levels, which makes it easier to exercise. Daily exercise helps keep blood vessels healthy, makes you feel better about yourself, and may aide in weight loss.</p>

    <p>The following pages will discuss diet and fitness in more detail:</p>
    <ul>
      <li> <a routerLink="/diet">Diet and Diabetes</a></li>
      <li> <a routerLink="/exercise">Fitness and Diabetes</a></li>
    </ul>
  </div>
</div>
