.main-area {
  box-sizing: border-box;

  padding: 20px;
  height: 100%;
  background-color: aliceblue;
}

.info{
  border: 1px solid black;
  padding:20px;
  margin: 50px;
  font-size: large;
  width: 80%;
  box-shadow: 10px 10px 10px 10px #777777;
  background-color: lightcyan;
}

.healthy{
  font-size: x-large;
  font-weight: bold;
  color: blue;
}
.unhealthy{
  font-size: x-large;
  font-weight: bold;
  color:red;
}

.obese {
  font-size: x-large;
  font-weight: bold;
  color: darkred;
}
.info li {
  font-weight: bold;
}
.return{
  margin: 50px;
  font-size: x-large;
  font-weight: bold;
}

p {
  margin-left: 50px;
  color:darkblue;
  font-size: large;
}
