<div class="main-page" xmlns="http://www.w3.org/1999/html">
  <div class="inner">
    <h1>Diabetes and Diet</h1>

    <p> <img src="../../../assets/images/healthyfood.jpg" alt="Healthh food Picture">There isn't really a specific diet to follow for people with diabetes. But the foods you eat will make a difference to how successfully your diabetes is managed.</p>
    <p> You need to eat a realistic and maintainable diet that fits in with your goals.<br>
      These goals could be to:</p>
    <ul class="list">
      <li>Achieve a healthy weight</li>
      <li>Reduce cholesterol levels (blood fats)</li>
      <li>Achieve good blood pressure</li>
      <li>Cut out/down on Sugars and Fats</li>
      <li>Reduce Diabetes sugar levels and ultimately remission</li>

    </ul>
    <p>The following information  wll help you to get knowledge on the food groups that make up a balanced healthy diet.</p>
    <ul>
      <li> <a routerLink="/glycemic">Glycemic Index </a></li>
      <li> <a routerLink="/groups">Food Groups</a></li>
      <li> <a routerLink="/eating">What Should I Eat?</a></li>
    </ul>
  </div>


  <div class="return">
    <a routerLink="/diabeticHealth" routerLinkActive="active">Back to Health Page</a>
  </div>

</div>


