<div class="menus">

  <button class="menuBtn" mat-raised-button
          matTooltip="Details about my diabetes activities"
          [matMenuTriggerFor]="sugarMenu">My Diabetes Menu
  </button>
  <!--  <mat-toolbar>-->
  <mat-menu #sugarMenu="matMenu">
    <button mat-menu-item (click)="displaySugarReadings()">List Sugar Readings</button>
<!--    <button mat-menu-item (click)="addSugarReading()">Add New Sugar Reading</button>-->
<!--    <button mat-menu-item (click)="displaySugarReadingsAverages()">List Sugar Readings Averages</button>-->
    <button mat-menu-item (click)="displayAppointments()">List Diabetes Appointments</button>
    <button mat-menu-item (click)="displayWeightValues()">List BodyMass Values</button>
    <button mat-menu-item (click)="medication()">List Medication Information</button>
<!--    <button mat-menu-item (click)="addAppointment()">Add New Diabetes Appointment</button>-->


<!--    <button mat-menu-item (click)="addWeightValue()">Add New BodyMass Value</button>-->
  </mat-menu>

</div>
